<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<h3>Name:</h3>
<input name="theme[name]" id="name" value="<%= theme.name %>">
<br><br>

<!-- When implementing AJAX, add button to add 3 more fields -->
<h3>Phrases (minimum 16)</h3>
<button id="more-phrases" class="button small-button">Add More Phrases</button>
<ul id="phrase-list" class="group">
  <% phrase_num.times do |i| %>
    <%= render partial: "phrase_field", locals: { id: theme.phrases[i] && theme.phrases[i].id,
                                                  body: theme.phrases[i] && theme.phrases[i].body,
                                                  index: i} %>
  <% end %>
</ul>



<%= link_to "Back", themes_url, class: "button" %>