<li>
  <input name="theme[phrases_attributes][<%= index %>][body]"
    class="phrase-field"
    value="<%= body %>">
  <input type="hidden" name="theme[phrases_attributes][<%= index %>][id]"
    class="primary-key" value="<%= id %>">
</li>