<h1>My Themes</h1>

<!-- Later, restrict themes to their owners -->
<section class="themes">
  <ul class="group">
  <% current_user.themes.each do |theme| %>
    <li class="left button small-button">
      <%= link_to theme.name, edit_theme_url(theme) %>
      <%= button_to "Delete", theme_url(theme), method: "delete", class: "left button small-button",
        data: { confirm: "Are you sure you wish to discard this theme?\nThis is permanent!"}%>
    </li>
  <% end %>
  </ul>
</section>

<div class="buttons">
  <a href="/" class="button">Main Menu</a>
  <a href="/themes/new" class="button">New Theme</a>
</div>