<h1>My Themes</h1>

<!-- Later, restrict themes to their owners -->

<% Theme.all.each do |theme| %>
 <%= link_to theme.name, edit_theme_url(theme) %>
 <%= button_to "Delete", theme_url(theme), method: "delete",
    data: { confirm: "Are you sure you wish to discard this theme?\nThis is permanent!"}%><br>
<% end %>

<a href="/">Main Menu</a>
<a href="/themes/new">New Theme</a>