<h1>New Theme</h1>

<form action="/themes/" method="post">
  <label for="title">Title:</label>
  <input name="theme[title]" id="title">
  <br>

  <h3>Phrases</h3>

  <input name="theme[phrases][]" class="phrase-field">
  <input name="theme[phrases][]" class="phrase-field">
  <input name="theme[phrases][]" class="phrase-field">
  <input name="theme[phrases][]" class="phrase-field"><br>
  <input name="theme[phrases][]" class="phrase-field">
  <input name="theme[phrases][]" class="phrase-field">
  <input name="theme[phrases][]" class="phrase-field">
  <input name="theme[phrases][]" class="phrase-field"><br>
  <input name="theme[phrases][]" class="phrase-field">
  <input name="theme[phrases][]" class="phrase-field">
  <input name="theme[phrases][]" class="phrase-field">
  <input name="theme[phrases][]" class="phrase-field"><br>
  <input name="theme[phrases][]" class="phrase-field">
  <input name="theme[phrases][]" class="phrase-field">
  <input name="theme[phrases][]" class="phrase-field">
  <input name="theme[phrases][]" class="phrase-field"><br><br>

  <a href="/games">Back</a>
  <input type=submit value="Create Theme">
</form>