<h1>My Games</h1>
<ul class="group">
<% @games.each do |game| %>

  <% button = "<li class='button small-button'>" + game.theme.name %>
  <% button += " with " %>
  <% button += game.users.map{|user| user.name.capitalize }.join(", ") %>
  <% button += "<br><alert>New Notifications!</alert>" if game.new_notifications?(current_user) %>
  <% button += "</li>" %>

  <%= link_to button.html_safe, game_url(game) %><br>

<% end %>
</ul>

<div class="buttons">
  <a href="/" class="button">Main Menu</a>
  <a href="/games/new" class="button">New Game</a>
</div>