<h1>New Game</h1>

<form action="<%= games_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for:"theme">Theme:</label>
  <select name="game[theme]">
    <option value="theme" >
    The Zoo</option>
    <option value="theme" >
    Cats</option>
  </select>

  <a href="/themes/new">New Theme</a>
  <br>

  <h3>Players:</h3><br>
  <label for="user.name">Simon</label>
    <input type="checkbox" name="game[users][]" value="user"
      id="user.name">
  <label for="user.name">Fred</label>
    <input type="checkbox" name="game[users][]" value="user"
      id="user.name">
  <label for="user.name">Bill</label>
    <input type="checkbox" name="game[users][]" value="user"
      id="user.name">
  <br>

  <a href="/games/">Cancel</a>

  <input type="submit" value="Create Game">
</form>

