<section class="game-attributes left">
  <h3>Theme: Cats</h3>

  <section class="players">
    <h3>Players:</h3>
    <ul>
      <li>Simon</li>
      <li>Bill</li>
      <li>Fred</li>
      <li>John</li>
    </ul>
  </section>

  <a href="/boards/1">My Board</a><br>
  <a href="/games">Back</a><br>
</section>

<section class="notifications right">
  <h3>Notifications</h3>
  <ul>
    <li>Game Begins 7/1/13</li>
    <li>You approved photo of
      <a href="/photos/1">wet cat</a>
      7/2/13</li>
    <li>Your photo of
      <a href="/photos/1">happy cat</a>
      was submitted 7/4/13</li>
    <li>You rejected photo of
      <a href="/photos/1">sleepy cat</a> 7/7/13</li>
    <li>Carol quit game 7/7/13</li>
    <li>Your photo of
      <a href="/photos/1">happy cat</a>
       was accepted 7/11/13</li>
    <li class="pending">You have a
      <a href="/photos/1">photo</a>
      to vote on 7/11/13</li>
  </ul>
</section>

