<h1>My Board</h1>
<h4>Click on a cell to upload a photo matching that phrase.</h4>

<% unless @game.pending_votes(current_user).blank? %>
  <alert>You cannot submit a photo until you have voted on all pending photos!</alert>
<% end %>

<div class="group buttons">
  <%= link_to "Back to Game", game_url(@board.game), class: "button" %>
</div>


<section id="grid" class="group">
  <% Board::CARDINAL.times do |i| %>
    <row class="group">
    <% Board::CARDINAL.times do |j| %>
      <% if @game.pending_votes(current_user).blank? %>
        <a href="<%= cell_url(@board.cell_at(i,j))  %>">
          <cell><%= display_at(@board,i,j) %></cell></a>
      <% else %>
        <cell><%= display_at(@board,i,j) %></cell>
      <% end %>
    <% end %>
    </row>
  <% end %>
</section>

