/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small, form, input
button, nav input[type="submit"] {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: ;
  text-decoration: none;
  color: black;
  box-shadow: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


html {
  background-color: rgb(171, 171, 171);
  font-family: 'helvetica', sans-serif;
}

.alert, alert {
  color: red;
}

.notice, .alert, alert {
  text-align: right;
  font-size: 12px;
}

main {
  background-color: rgb(160, 200, 200);
  width: 900px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid black;
}

nav {

}

nav > ul {
  padding: 0;
  list-style: none;
  box-shadow: 0px 2px 10px black;
  display: block;
  width: 920px;
  margin: auto;
  background-color: rgb(160, 200, 200);
}

nav > ul > li {
  float: left;
  display: block;
}

nav input, nav button, nav .button {
  width: 100%;
}


.button:hover {
  transition: all 0.5s;
  color: rgb(70, 130, 250);
  background-color: white;
  cursor: pointer;
}

.button:active {
  box-shadow: inset 0px 2px 10px black;
}

.big-nav {
  width: 400px;
  border-right: 1px solid rgb(70, 130, 130);
}

.small-nav {
  width: 118px;
}

h1, h2 {
  padding: 50px 0 50px 0;
  text-align: center;
  margin: auto;
  color: rgb(70, 130, 250);
}

.buttons {
  padding: 20px;
}

#grid {
  margin: auto;
  border: 1px solid black;
  width: 800px;
  background-color: white;
}

cell {
  float: left;
  width: 198px;
  height: 198px;
  border: 1px solid black;
  text-align: center;
  font-size: 20pt;
  position: relative;
}

.button {
  background-color: rgb(160, 200, 200);
  padding: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
  /*margin: auto;*/
  font-size: 12pt;
}

nav .button {
  padding: 10px 0 10px 0;
  width: 100%;
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 0;
  display: block;
  margin: auto;
}

nav a {
  text-align: center;
}

h3 {
  padding: 20px 0 20px 0;
}

.left {
  float: left;
  padding-left: 20px;
}

.right {
  float: right;
  padding-right: 20px;
}

ul {
  list-style: none;
}

.players, .themes {
  padding-bottom: 20px;
}

.players li, .themes li {
  text-align: left;
}

.notifications {
  width: 500px;
}

notice {
  display: block;
  float: left;
}

time {
  display: block;
  float: right;
}

status-marker {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
}

#grid .green {
  background-color: green;
}

#grid .yellow {
  background-color: yellow;
}

#grid .red {
  background-color: red;
}

#phrase-list li {
  float: left;
}